<div class="mt-2 mb-3">
    <h1>ورود</h1>
</div>
    <%= form_with url: sign_in_path,data: { turbo: false } do |form|%>
        <div class="mb-3">
            <%= form.label :ایمیل %>
            <%= form.text_field :email, class: "form-control", placeholder: "shop@example.com" %>
        </div>
        <div class="mb-3">
            <%= form.label :"رمز ورود" %>    
            <%= form.password_field :password, class: "form-control", placeholder: "رمز ورود" %>
        </div >

        <div class="mb-3">
            <%= form.submit "ورود" , class:"btn btn-primary" %>
        </div>
    <% end %>
<%# s</div> %>